@import "tailwindcss";

@keyframes toggle-italic {
  0%, 49%  { font-style: italic; }
  50%, 100% { font-style: normal; }
}

@keyframes toggle-bold {
  0%, 49%  { font-weight: bold; }
  50%, 100% { font-weight: normal; }
}

.animate-toggle-italic {
  animation: toggle-italic 2s step-end infinite;
}

.animate-toggle-bold {
  animation: toggle-bold 2.05s step-end infinite;
}